<!DOCTYPE html>
<html>
  <head>
    <title>News</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="logo">
          <a href="#">LOGO</a>
        </div>
        <button type="button" class="nav-toggler">
          <span></span>
        </button>
        <nav class="nav">
          <ul>
            <li><a href="#" class="active">home</a></li>
            <li><a href="#">about</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section>
        <h2>Новости</h2>
        <p>hh:mm date</p>
        <ul id="list"></ul>
      </section>
    </main>

    <script>
      const newsList = document.getElementById('list')

      async function removeNews(index) {
            const data = {
              action: 'removeNews',
              id: index,
            }

            const response = await fetch('/', {
              method: 'POST',
              body: JSON.stringify(data),
              headers: {
                'Content-Type': 'application/json',
              },
            })
          }

      async function getNewsList() {
        const data = {
          action: 'getNewsList',
        }

        const response = await fetch('/', {
          method: 'POST',
          body: JSON.stringify(data),
          headers: {
            'Content-Type': 'application/json',
          },
        })
          .then((response) => response.json())
          .then((data) => {
            for (let object of data) {
              renderContent(object)
            }
          })
      }

      getNewsList()

      function renderContent(object) {
        newsList.insertAdjacentHTML('afterbegin', newsBlockTemplate(object.id, object.title, object.image, object.text))
      }

      newsList.onclick = (e) => {
        const dataIndex = e.target.parentElement.dataset.index
        if (dataIndex) {
          document.location.href = `/news?postid=${dataIndex}`
        }
        if (e.target.className === 'edit') {
        }
        if (e.target.className === 'remove') {
          removeNews(e.target.parentElement.parentElement.dataset.index)
          e.target.parentElement.parentElement.parentElement.remove()
        }
      }

      const navToggler = document.querySelector('.nav-toggler')
      navToggler.addEventListener('click', navToggle)

      function navToggle() {
        navToggler.classList.toggle('active')
        const nav = document.querySelector('.nav')
        nav.classList.toggle('open')
        if (nav.classList.contains('open')) {
          nav.style.maxHeight = nav.scrollHeight + 'px'
        } else {
          nav.removeAttribute('style')
        }
      }

      function newsBlockTemplate(index, title, image, text) {
        return `
        <li>
            <div class="news-wrapper" data-index="${index}">
              <div class="news-content">
                <img src="${image}" alt="photo" />
                <div class="content">
                  <h3>${title}</h3>
                  <p>${text}</p>
                </div>
              </div>
              <div class="actions">
                <button class="edit"><ion-icon name="pencil-outline" size="large"></ion-icon></button>
                <button class="remove"><ion-icon name="trash-outline" size="large"></ion-icon></button>
              </div>
            </div>
          </li>
      `
      }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>

