<!DOCTYPE html>
<html>
  <head>
    <title>News</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="logo">
          <a href="/">LOGO</a>
        </div>
        <nav class="nav">
          <ul>
            <li>
              <button id="add-news-btn" style="display: none;"><ion-icon name="add-outline"></ion-icon></button>
            </li>
            <li><a href="/">home</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section>
        <h2>Новости</h2>
        <p>hh:mm date</p>
        <ul id="list"></ul>
      </section>
    </main>
    <div class="modal-background">
      <form class="modal-form" action="/" method="post">
        <div class="action">
          <button id="add" name="add"><ion-icon name="add-outline"></ion-icon></button>
          <button type="button" class="cancel"><ion-icon name="close-outline"></ion-icon></button>
        </div>
        <input type="text" name="title" id="title" placeholder="Title" />
        <input type="text" name="text" id="text" placeholder="Text" />
        <input type="text" name="image" id="image" placeholder="Image URL" />
        <img src="" alt="image" />
      </form>
    </div>
    <div class="modal-background">
      <form class="modal-form" action="/" method="post">
        <div class="action">
          <button id="change" name="change"><ion-icon name="checkmark-outline"></ion-icon></button>
          <button type="button" class="cancel"><ion-icon name="close-outline"></ion-icon></button>
        </div>
        <input type="text" name="title" id="change-title" placeholder="Title" />
        <input type="text" name="text" id="change-text" placeholder="Text" />
        <input type="text" name="image" id="change-image" placeholder="Image URL" />
        <img src="" alt="image" />
      </form>
    </div>
    <script>
      const login = '<%= login %>'
      const permission = '<%= permission %>'
    </script>
    <script src="/javascripts/app.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>

