<!DOCTYPE html>
<html>
  <head>
    <title>News</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="logo">
          <a href="/">LOGO</a>
        </div>
        <nav class="nav">
          <ul>
            <li><a href="/">Главное</a></li>
            <li>
              <button class="add-news-btn" id="add-news-btn"><ion-icon name="add-outline"></ion-icon></button>
            </li>
            <li class="profile">
              <button id="profile">Аккаунт</button>
              <ul id="profile-modal" style="display: none;">
                <li><a href="/login">Авторизоваться</a></li>
                <li><a href="/register">Зарегистрироваться</a></li>
                <li><a href="/logout">Выйти</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section>
        <h2>Новости</h2>
        <ul id="list"></ul>
      </section>
    </main>
    <div class="modal-background">
      <form class="modal-form" action="/" method="post">
        <div class="action">
          <button id="add" name="add"><ion-icon name="add-outline"></ion-icon></button>
          <button type="button" class="cancel"><ion-icon name="close-outline"></ion-icon></button>
        </div>
        <input type="text" name="title" id="title" placeholder="Title" />
        <input type="text" name="text" id="text" placeholder="Text" />
        <input type="text" name="image" id="image" placeholder="Image URL" />
        <img id="image-preview" src="" alt="image" />
      </form>
    </div>
    <div class="modal-background">
      <form class="modal-form" action="/" method="post">
        <div class="action">
          <button id="change" name="change"><ion-icon name="checkmark-outline"></ion-icon></button>
          <button type="button" class="cancel"><ion-icon name="close-outline"></ion-icon></button>
        </div>
        <input type="text" name="title" id="change-title" placeholder="Title" />
        <input type="text" name="text" id="change-text" placeholder="Text" />
        <input type="text" name="image" id="change-image" placeholder="Image URL" />
        <img id="change-image-preview" src="" alt="image" />
      </form>
    </div>
    <script>
      const login = '<%= login %>'
      const permission = '<%= permission %>'

      const profile = document.getElementById('profile')
      const profileModal = document.getElementById('profile-modal')

      profile.onclick = () => {
        if (profileModal.style.display === 'none') {
          profileModal.style.display = 'flex'
        } else {
          profileModal.style.display = 'none'
        }
      }
    </script>
    <script src="/javascripts/app.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>

