<!DOCTYPE html>
<html>
  <head>
    <title>Восстановление</title>
    <link rel="stylesheet" href="/stylesheets/auth_style.css" />
  </head>
  <body>
    <div class="wrapper">
      <h2>Восстановление пароля</h2>
      <form class="form" action="/recovery" method="post">
        <p id="login-warn" class="warning-text <%= incorrectLogin %>">Такого пользователя не существует!</p>
        <input type="text" placeholder="Введите логин" name="login" value="<%= login %>" required />
        <input type="text" placeholder="Ждите пароль..." name="password" id="passwordField" value="<%= password %>" disabled />
        <input class="submit" type="submit" value="Восстановить" />
        <p><a href="/login">Вход</a> или <a href="/register">Регистрация</a></p>
      </form>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>

