<!DOCTYPE html>
<html>
  <head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="/stylesheets/auth_style.css" />
  </head>
  <body>
    <div class="wrapper">
      <h2>Регистрация</h2>
      <form class="form" action="/register" method="post">
        <p id="already-warn" class="warning-text <%= similarLogin %>">Такой логин уже существует!</p>
        <p id="login-warn" class="warning-text">Минимум 3 символа!</p>
        <input type="text" placeholder="Придумайте логин" name="login" value="<%= login %>" id="login" required />
        <p id="password-warn" class="warning-text">Минимум 8 символов!</p>
        <input type="password" placeholder="Создайте пароль" name="password" id="password" required />
        <p id="confirm-warn" class="warning-text">Пароли не похожи!</p>
        <input type="password" placeholder="Подтвердите пароль" name="confirmPassword" id="confirmPassword" required />
        <div>
          <div class="checkbox">
            <input type="checkbox" name="agreement" required />
            <p>Я принимаю все положения и условия</p>
            <ion-icon class="warning-text <%= agreement %>" name="alert-outline"></ion-icon>
          </div>
        </div>
        <input id="submit" class="submit" type="submit" value="Зарегистрироваться" disabled />
        <p>Уже имеете аккаунт? <a href="/login">Войти</a></p>
      </form>
    </div>
    <script>
      const password = document.getElementById('password')
      const confirmPassword = document.getElementById('confirmPassword')
      const login = document.getElementById('login')

      function badInput(element) {
        document.getElementById(`${element}-warn`).style.display = 'inline'
        document.getElementById('submit').disabled = true
      }

      function displayNone(element) {
        document.getElementById(`${element}-warn`).style.display = 'none'
      }

      function checkInput() {
        if (login.value.length >= 3) {
          displayNone('login')
          if (password.value.length >= 8) {
            displayNone('password')
            if (password.value === confirmPassword.value) {
              displayNone('confirm')
              document.getElementById('submit').disabled = false
            } else {
              badInput('confirm')
            }
          } else {
            badInput('password')
          }
        } else {
          badInput('login')
        }
      }
      
      login.addEventListener('input', () => {
        document.getElementById('already-warn').style.display = 'none'
        checkInput()
      })
      confirmPassword.addEventListener('input', checkInput)
      password.addEventListener('input', checkInput)
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>

