@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  --c1: #4285f4;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #5f93cf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

ion-icon {
  pointer-events: none;
}

.container {
  max-width: 1170px;
  margin: auto;

  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: var(--c1);
  padding: 12px 0;
  line-height: 1.5;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}

.header .logo a {
  font-size: 30px;
  color: #ffffff;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 0;
  transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
  color: #f3a93d;
}

main {
  padding: 20px 76px;
  color: #000;
}

main section p {
  font-size: 0.85em;

  margin-bottom: 15px;
  opacity: 0.7;
}

.news-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #fff;
  padding: 15px;
  border-radius: 20px;

  max-height: 275px;
}

.news-content {
  display: flex;
  gap: 15px;

  max-height: 200px;

  margin-bottom: 10px;

  width: 100%;
}

.news-content * {
  pointer-events: none;
}

.news-content .content {
  gap: 15px;
  max-height: 130px;
  width: 100%;
}

.news-content .content h3 {
  text-align: center;
  margin-bottom: 5px;
}

.news-content .content {
  overflow: hidden;
}

.news-content img {
  max-width: 220px;
  max-height: 130px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.actions button {
  width: 100%;
  border-radius: 15px;
  outline: none;
}

.edit {
  color: #f3a93d;
  background: transparent;
  border: 2px solid #f3a93d;
}

.edit:hover {
  color: #fff;
  background: #f3a93d;
  border: 2px solid rgb(203, 130, 21);
  transition: all 0.3s ease-in;
}

.remove {
  color: #f00;
  background: transparent;
  border: 2px solid #f00;
}

.remove:hover {
  color: #fff;
  background: #f00;
  border: 2px solid rgb(165, 0, 0);
  transition: all 0.3s ease-in;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
}

.modal-form {
  display: flex;
  flex-direction: column;

  background: #fff;
  width: 600px;
  max-width: 100%;
  height: 500px;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
}

.modal-form .action {
  display: inline-flex;
  justify-content: center;
  gap: 5px;

  margin: 7px;
}

.modal-form .action button {
  text-align: center;
  width: 100%;
}

.modal-form input {
  margin: 10px;
  padding: 4px;
}

.visible {
  display: flex;
}

@media (max-width: 990px) {
  .container {
    justify-content: space-between;
  }
}
