@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  --c1: #202124;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #292a2d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ion-icon {
  pointer-events: none;
}

.container {
  max-width: 1170px;
  margin: auto;

  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: var(--c1);
  padding: 12px 0;
  line-height: 1.5;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}

.header .logo a {
  font-size: 1.875rem;
  color: #ffffff;
}

.header .nav > ul > li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 1rem;
  color: #ffffff;
  padding: 10px 0;
  transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
  color: #f3a93d;
}

main {
  padding: 20px 76px;
  color: #fff;
}

main section p {
  font-size: 0.85em;

  margin-bottom: 15px;
  opacity: 0.7;
}

.news-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #1f1f1f;
  padding: 15px;
  border-radius: 20px;

  max-height: 275px;
}

.news-wrapper > p {
  align-self: flex-start;
}

.news-content {
  display: flex;
  gap: .9375rem;

  max-height: 200px;

  margin-bottom: 10px;

  width: 100%;
}

.news-content * {
  pointer-events: none;
}

.news-content .content {
  gap: .9375rem;
  max-height: 130px;
  width: 100%;
}

.news-content .content h3 {
  text-align: center;
  margin-bottom: 5px;
}

.news-content .content {
  overflow: hidden;
}

.news-content img {
  background: #383838;
  width: 100vw;
  height: 130px;
  max-width: 220px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: .3125rem;
  width: 100%;
}

.actions button {
  width: 100%;
  border-radius: 15px;
  outline: none;
}

.edit {
  color: #f3a93d;
  background: transparent;
  border: 2px solid #f3a93d;
}

.edit:hover {
  color: #fff;
  background: #f3a93d;
  border: 2px solid rgb(203, 130, 21);
  transition: all 0.3s ease-in;
}

.remove {
  color: #f00;
  background: transparent;
  border: 2px solid #f00;
}

.remove:hover {
  color: #fff;
  background: #f00;
  border: 2px solid rgb(165, 0, 0);
  transition: all 0.3s ease-in;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
}

.modal-form {
  display: flex;
  flex-direction: column;

  background: #202124;

  border: 2px solid #fff;
  border-radius: 20px;

  width: 37.5rem;
  max-width: 100%;
  height: 31.25rem;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
}

.modal-form .action {
  display: inline-flex;
  justify-content: space-between;
  gap: .3125rem;

  margin: 7px;
}

.modal-form .action button {
  border: 1px solid #ffffffc5;
  border-radius: 20px;


  text-align: center;
  width: 100%;
}

.modal-form .action .cancel:hover {
  background: #f00;
  transition: all .45s ease;
}

.modal-form .action #add:hover {
  background: #32a032;
  transition: all .45s ease;
}

.modal-form .action #change:hover {
  background: #f3a93d;
  transition: all .45s ease;
}

.modal-form input {
  border: 1px solid #ffffffc5;
  border-radius: 20px;

  margin: 10px;
  padding: 4px;
}

.modal-form img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.visible {
  display: flex;
}

.add-news-btn {
  color: #fff;
  padding: 5px;
  background: #292a2d;
  height: 25px;
  border: 1px solid #ffffffc5;
  border-radius: 20px;
  outline: none;
}

.add-news-btn:hover {
  color: #000;
  background: #fff;
  transition: all .45s ease;
}

.profile button {
  color: #ffffff;
  padding: 5px;
  background: #292a2d;
  height: 25px;
  border: 1px solid #ffffffc5;
  border-radius: 20px;
  outline: none;
}

.profile button:hover {
  color: #000;
  background: #fff;
  transition: all .45s ease;
}

.profile ul {
  flex-direction: column;
  width: 200px;

  border-radius: 20px;
  background: #3a3939;
  position: absolute;
  right: .8125rem;
  top: 3.125rem;
}

.profile ul li {
  padding-left: 20px;
}

.profile ul li:hover {
  background: #2e2d2d;
  border-radius: 20px;
}

@media (max-width: 990px) {
  .container {
    justify-content: space-between;
  }
}
